html, body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
  font-family:"Lato Regular";
  font-size: 1.067em;
}

@font-face {
  font-family:"BigJohn";
  src:url("../fonts/BIG_JOHN.woff2") format("woff2"), url("../fonts/BIG_JOHN.woff") format("woff"), url("../fonts/BIG_JOHN.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family:"Lato Regular";
  src:url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.otf") format("opentype");
  font-style:normal;
  font-weight:400;
}

@font-face {
  font-family:"Josefin Sans";
  src:url("../fonts/JosefinSans-Regular.woff2") format("woff2"), url("../fonts/JosefinSans-Regular.woff") format("woff"), url("../fonts/JosefinSans-Regular.otf") format("opentype");
  font-style:normal;
  font-weight:400;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hp60qg');
  src:  url('../fonts/icomoon.eot?hp60qg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hp60qg') format('truetype'),
    url('../fonts/icomoon.woff?hp60qg') format('woff'),
    url('../fonts/icomoon.svg?hp60qg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0px; 
  background: transparent; 
  }
  ::-webkit-scrollbar-thumb {
  background: #FF0000;
  }

p {
  margin: 0 0 15px 0;
}

.green {
  background-color: #00a99d;
}

.blue {
  background-color: #3886bc;
}

.orange {
  background-color: #fbb03b;
}

section.container {
  display: flex;
  .bloc {
    .title {
      padding: 30px;
      text-align: center;
      display: block;
      position: relative;
      span {
        font-family:"BigJohn";
        color: #fff;
        font-size: 2vw;
      }
    }
    .title.green:after {
      color: #00a99d;
    }
    .title.blue:after {
      color: #3886bc;
    }
    .title.orange:after {
      color: #fbb03b;
    }
    .title:after {
      font-family: 'icomoon';
      content: "\e900";
      display: block;
      position: absolute;
      bottom: -16px;
      left: calc((100vw / 6) - 14.42px);
    }
    .content {
      padding: 3vw 3vw;
      .scroller {
        p {
          text-align: justify;
        }
      }
      .AutoScroll {
        // background-color: #191919;
        // color: #fff;
        position: relative;
        // top: 100px;
        max-height: 70vh;
        overflow-y: scroll;
        // padding: 20px;
        // border: 1px solid #121212;
      }
    }
  }
}

section.footer {
  display: flex;
  padding: 1vw 3vw;
  color: #fff;
  font-family: "Josefin Sans";
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 94vW;
  font-size: 2vw;
  span {
    display: block;
  }
  .john {
    font-family:"BigJohn";
  }
  .last {
    margin-left: 5.5vw;
  }
  hr {
    width: 18%;
    height: 0px;
    color: #fff;
    border: 1px solid #fff;
  }
}