
@font-face {
    font-family:"Josefin Sans";
    src:url("JosefinSans-Regular.woff2") format("woff2"),url("JosefinSans-Regular.woff") format("woff"),url("JosefinSans-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        